<div class="banner">
    <h4 class="join">Join Our Newsletter</h4>
    <p>Subscribe to our newsletter for the latest updates and special offers</p>

    <section class="home-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-theme" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


