.mist {
    background-color: rgba(40, 58, 90, 0.9);
    // margin: 5rem;
    height: 70px;
    
}

p{
    color: #ffffff;
    // padding-left: 5rem;
    text-align: center;
    padding-top: 1.5rem;
}