<div class="container mt-5" id="home">
  <div class="hero">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-4"></div>
    <div class="shape shape-5"></div>
    <div class="shape shape-6"></div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <h1 class="intro mt-3"><span class="textColor">Comprehensive IT Solutions For All Your </span><span style="color: red;">Needs</span></h1>

        <p class="mt-3 textColor">
          At Ample Tech, we are passionate about transforming ideas into innovative software solutions that drive success. Founded on the principles of excellence, integrity, and creativity, our company is dedicated to providing top-tier software development services tailored to meet the unique needs of our clients.
        </p>

        <div class="container">
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-dark mt-3" (click)="goToSection('skills')">Get Started</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="image-wrapper">
          <img class="img" src="../../../assets/Hand.png" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-products></app-products>
<about id="about"></about>
<services id="services"></services>
<contact id="contact"></contact>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
<app-rights></app-rights>
